@import "./mocha.css";

* {
  border: none;
  border-radius: 1em;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @base;
}

tooltip {
  background: @crust;
  border-radius: 1em;
  border-width: 2.5px;
  border-style: solid;
  border-color: #8aadf4;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#workspaces button {
  color: @surface0;
  margin-right: 5px;
  padding-right: 0px;
  padding-left: 0px;
}

#workspaces button.active {
  /* biome-ignore lint: foo */
  color: @peach;
}

#workspaces button.focused {
  color: @green;
  background: @maroon;
  border-radius: 1em;
}

#workspaces button.urgent {
  color: @crust;
  background: #a6e3a1;
  border-radius: 1em;
}

#workspaces button:hover {
  background: @crust;
  color: @text;
  border-radius: 1em;
}

#window,
#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#custom-notifications,
#custom-updates,
#custom-player,
#workspaces,
#tray,
#memory,
#disk,
#backlight,
#backlight {
  background: @crust;
  opacity: 1;
  padding: 1.5px 7px 1.5px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 1em;
  margin-right: 5px;
  margin-left: 5px;
}

#tray {
  border-radius: 1em;
  margin-right: 7px;
}

#workspaces {
  background: @crust;
  border-radius: 1em;
  margin-left: 5px;
  padding-right: 0px;
}

#window {
  border-radius: 1em;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: @green;
  border-radius: 1em;
  margin-right: 3px;
  margin-left: 3px;
}

#network {
  color: @yellow;
  border-radius: 1em;
  margin-right: 5px;
}

#custom-notifications {
  color: @yellow;
  border-radius: 1em;
  padding-left: 9px;
  padding-right: 15px;
  margin-left: 2px;
  margin-right: 2px;
}

#custom-updates {
  color: #89b4fa;
  border-radius: 1em;
  border-left: 0px;
  border-right: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

#custom-player {
  color: @mauve;
  border-radius: 1em;
  padding-left: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

#memory {
  color: @blue;
  border-radius: 1em;
  margin-left: 5px;
}

#disk {
  color: @yellow;
  border-radius: 1em;
  margin-left: 5px;
}

#bluetooth {
  color: @blue;
  border-radius: 1em;
  margin-left: 5px;
  margin-right: 5px;
}

#pulseaudio {
  color: @blue;
  border-radius: 1em 0 0 1em;
  margin-right: 0px;
}

#pulseaudio.microphone {
  color: @rosewater;
  border-radius: 0 1em 1em 0;
  margin-left: 0;
}
